# ignore all environment files
*.env

#ignore folders (not version controlled, not pushed!)
phd_proposal/
litrev/04_output/

#ignore claude code folders and files (not including settings.json, because that must be shared across my machines)
.claude/settings.local.json
CLAUDE.md


